:root {
    --background--color:#f5f5dc;               /* background-color for chess box */
    --green--background: #99cc66;               /* background color for green cells */
    --pieces-color-black:black;                          /* color for black pieces */
    --pieces-color-white:white;                    /* color for white pieces */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}


.chessboard {
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
  
    
}
.chessboard div {
    width: 10%;
    height: 80px; 
    width: calc(100%/8);
    text-align: center;
    font-size: 60px;
    /* text-shadow: 2px 1px black; */
    
    /* border: 1px solid black; */

}

.w {
    width: 10%;
    height: 80px; 
    width: calc(100%/8);
    text-align: center;
    /* font-size: 70px; */
    color: var(--pieces-color-black);
    
}


.w {
    background-color: var(--background--color);
    width: 100%;
    height: 12.5%;
    /* color: black; */
}
.b {
    background-color: var(--green--background);
    /* color: white; */
     width: 100%;
    height: 12.5%;

}

.piece {
/* display: inline; */
color: white;
/* border-inline-color:2px solid black; */
text-shadow:
      -1px -1px 0 black,
       1px -1px 0 black,
      -1px  1px 0 black,
       1px  1px 0 black,
      -1px  0 0 black,
       1px  0 0 black,
       0 -1px 0 black,
       0  1px 0 black;
}