body {
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}


.logo {
    color: rgb(34, 232, 8);
    font-size: 25px;
    font-style: "Montserrat", sans-serif;
    font-weight: 700;
    background: #0f090f;
    box-sizing: border-box;
    margin-left: 10px;
    
}

nav {
    background-color: #80DED9;
    display: flex;
    margin: 0px;
    pad: 0px 0px 10px 10px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 9999 ;
}

.nav-links {

    list-style: none;
    display: flex;
    /* color: black; */
    
}
.nav-links a {
    font-size: 13px;
    /* padding: 20x; */
    margin: 10px;
    color: white;
    font-family: "Montserrat", sans-serif bold;
    font-weight: 700;
    background: #9929fb;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none; 
}
.nav-links a:hover {
    background-color: red;
}



.cards {

    display: flex;
    gap :7px; 
    display: flex;
    flex-wrap: wrap;
    margin-right: -15rem;
    margin-left: 40rem;
    grid-template-columns: repeat(2,1fr);

}
.card1 {

    background-color: #f5d3c8;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.2);
    overflow: hidden;
    transition: 0.3s;
    /* width: 250px;
    height: 250px; */

}
.card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  background-color: rgb(17, 243, 145);
    
}

.card-content {
  padding: 15px;
  text-align: center;
}

.card-content h3 {
  margin: 10px 0;
}

.card-content p {
  color: #555;
  font-size: 14px;
}

.work {
    background-color:#E0d3de;
    /* margin-top: -3rem; */
    margin-right: 30px; 
     margin-left: 20px;
     width: -70px;
     text-align: center;
     /* display: contents; */
}
  .work h3 {

    font-size: 30px;
    letter-spacing: 2px;

  }
  
  .work p {
   
    margin-right: 30rem;
    letter-spacing: 3px;
    word-spacing: 3px;
  }

 